* {
    margin: 0;
    padding: 0;
    /* Remove o espaço padrão (margin) e o preenchimento (padding) de todos os elementos */
  }
  
  body {
    background-color: #fff;
    /* Define a cor de fundo do corpo da página como branco */
    font-family: Arial, Helvetica, sans-serif;
    /* Define a família de fontes para o texto da página */
  }
  
  ul {
    height: 40px;
    /* Define a altura das listas não ordenadas */
    line-height: 40px;
    /* Define a altura da linha, centralizando verticalmente o conteúdo */
    display: flex;
    /* Usa flexbox para organizar os itens da lista em uma linha */
    list-style: none;
    /* Remove os marcadores padrão da lista */
    justify-content: right;
    /* Alinha os itens da lista à direita */
    margin: 20px;
    /* Adiciona uma margem ao redor da lista */
    gap: 20px;
    /* Adiciona um espaçamento entre os itens da lista */
    font-size: 14px;
    /* Define o tamanho da fonte dos itens da lista */
  }
  
  li a {
    text-decoration: none;
    /* Remove a sublinha dos links */
    color: black;
    /* Define a cor do texto dos links como preto */
  }
  
  li a:hover {
    text-decoration: underline;
    /* Adiciona uma sublinha aos links quando o mouse passa sobre eles */
    color: black;
    /* Mantém a cor do texto dos links como preto ao passar o mouse sobre eles */
  }
  
  .img1 {
    width: 25px;
    
    /* Define a largura da imagem com a classe .img1 */
    margin-top: 5px;
    /* Adiciona uma margem superior à imagem */
  }
  
  .img2 {
    width: 30px;  
    /* Define a largura da imagem com a classe .img1 */
    margin-top: 5px;
    /* Adiciona uma margem superior à imagem */
    border-radius: 50px;
  }
  
  .img3 {
   
    width: 30px;
    /* Define a largura da imagem com a classe .img2 */
    height: 15px;
    margin-top: 5px;
    /* Adiciona uma margem superior à imagem */
  }
  
  
  
  header {
    text-align: center;
    /* Centraliza o texto no cabeçalho */
  }
  
  header img {
    width: 300px;
    /* Define a largura da imagem no cabeçalho */
  }
  
  main {
    display: block;
    /* Define o elemento principal como um bloco */
    text-align: center;
    /* Centraliza o texto no elemento principal */
  }
  
  .busca-container {
    display: flex;
    /* Usa flexbox para organizar o conteúdo dentro do contêiner de busca */
    justify-content: center;
    /* Centraliza o contêiner de busca horizontalmente */
    margin-top: 50px;
    /* Adiciona uma margem superior ao contêiner de busca */
  }
  
  .busca-box {
    position: relative;
    /* Define um contexto de posicionamento relativo para o contêiner de busca */
    width: 600px;
    /* Define a largura do contêiner de busca */
    display: flex;
    /* Usa flexbox para organizar o conteúdo dentro do contêiner de busca */
    align-items: center;
    /* Alinha verticalmente os itens do contêiner de busca */
    border: 1px solid #dfe1e5;
    /* Adiciona uma borda ao redor do contêiner de busca */
    border-radius: 24px;
    /* Arredonda as bordas do contêiner de busca */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Adiciona uma sombra leve ao contêiner de busca */
    padding: 10px;
    /* Adiciona um preenchimento interno ao contêiner de busca */
  }
  
  .busca-box input {
    flex-grow: 1;
    /* Permite que o campo de entrada cresça para preencher o espaço disponível */
    border: none;
    /* Remove a borda padrão do campo de entrada */
    font-size: 16px;
    /* Define o tamanho da fonte do texto no campo de entrada */
    outline: none;
    /* Remove a borda de destaque quando o campo de entrada está em foco */
    padding: 0 10px;
    /* Adiciona um preenchimento interno ao campo de entrada */
  }
  
  .busca-box .icon {
    display: flex;
    /* Usa flexbox para organizar o ícone */
    align-items: center;
    /* Alinha verticalmente o ícone */
    justify-content: center;
    /* Centraliza o ícone horizontalmente */
  
  }
  
  .left-icon {
    margin-right: 10px;
    /* Adiciona uma margem direita ao ícone esquerdo */
  }
  
  .right-icons {
    display: flex;
    /* Usa flexbox para organizar os ícones à direita */
    gap: 10px;
    /* Adiciona um espaçamento entre os ícones à direita */
  }
  
  .right-icons img {
    margin-left: 10px;
    /* Adiciona uma margem esquerda a cada ícone à direita */
  }